html, body
{
    margin: 0;
    padding: 0;

}

#container
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#box
{
    height: 100%;
    width: 100%;
}

h1
{
    text-align: center;
    position: relative;
    font-size: 60px;
    font-family: 'Indie Flower', cursive;
    color: white;
}